flask
flask-session
flask-mail
requests
idna
sqlalchemy
SQLAlchemy
temp
werkzeug
psycopg2
jinja2
gunicorn
autopep8
cachelib
certifi
chardet
click
itsdangerous
MarkupSafe
pycodestyle
urllib3
vonage