python3
flask
flask-session
flask-mail
requests==2.25.1
idna<3
sqlalchemy
SQLAlchemy
temp
werkzeug
psycopg2
jinja2
gunicorn
autopep8
cachelib
certifi
chardet
click
itsdangerous
MarkupSafe
pycodestyle
urllib3
nexmo
vonage