flask
flask-session
flask-email
requests==2.25.1
sqlalchemy
SQLAlchemy
temp
werkzeug
psycopg2
jinja2
gunicorn
autopep8
cachelib
certifi
chardet
click
idna
itsdangerous
MarkupSafe
pycodestyle
urllib3
nexmo
vonage