{% extends "layout.html" %}
{% block title %}
History
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ symbols[row] }}</td>
            <td>{{ shares[row] }}</td>
            <td>{{ price[row] }}</td>
            <td>{{ dates[row] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}