<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Styles CSS -->
    <link href="/static/styles.css" rel="stylesheet">

    <title>Kei Finance: {% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Nav Bar-->
    <nav class="navbar navbar-expand-md navbar-light bg-light border">
        <a class="navbar-brand" href="/" style="color: red; font-size: xx-large;">Finance</a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            {% if session.user_id %}
            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/quote">Quote</a></li>
                <li class="nav-item"><a class="nav-link" href="/buy">Buy</a></li>
                <li class="nav-item"><a class="nav-link" href="/sell">Sell</a></li>
                <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
            </ul>
            <div class="dropdown navbar-nav ml-auto mt-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/delete">Delete</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
            {% else %}
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>

    <!-- Announcements -->
    {% if deleteMessage %}
    <header>
        <div class="alert alert-danger border text-center" role="alert">
            {{ deleteMessage }}
            <a href="/logout">Log out.</a>
        </div>
    </header>
    {% endif %}

    <!-- Portfolio -->
    <main class="container p-5">
        {% block main %}{% endblock %}
    </main>

    <!-- IEX info -->
    <footer class="small text-center text-muted">
        Data provided for free by <a href="https://iextrading.com/developer" target="_blank">IEX</a>. View <a
            href="https://iextrading.com/api-exhibit-a/" target="_blank">IEX’s Terms of Use</a>.
    </footer>
</body>

</html>