{% extends "layout.html" %}

{% block title %}
Phone Verification
{% endblock %}

{% block main %}
<form action="/loggedin" method="post">
    <div class="form-group">
        <input class="form-control" name="username" type="hidden" value="{{ username }}">
    </div>
    <div class="form-group">
        <input class="form-control" name="response_id" type="hidden" value="{{ response_id }}">
    </div>
    <div class="form-group">
        <input class="form-control" name="user_code" placeholder="Verify Code" type="text">
    </div>
    <button class="btn btn-info" type="submit">Verify</button>
</form>
{% endblock %}